<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DSpaceX</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{% url 'home' %}">
                        DSpaceX
                    </a>
                </li>
                <li>
                    <a href="{% url 'ccdashboard' %}">CC Dashboard</a>
                </li>
                <li>
                    <a style="background: rgba(255, 255, 255, 0.2); color: #fff;" href="{% url 'dspacedashboard' %}">DSpace Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'logindashboard' %}">Login</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>DSpace Dashboard</h1>
                <h5>Options for the Dspace end of the app</h5>
                <a href="{% url 'create-community' %}"><button type="button" class="btn btn-outline-secondary">Create Community</button></a><br>
                <a href="{% url 'create-collection' %}"><button type="button" class="btn btn-outline-secondary">Create Group/Collection</button></a><br>
                <a href="{% url 'add-items' %}"><button type="button" class="btn btn-outline-secondary">Add Item to Collection</button></a><br>
                <a href="{% url 'add-items' %}"><button type="button" class="btn btn-outline-secondary">Add Item to Group/Collection</button></a><br>
                <a style="margin-top: 280px;" href="#menu-toggle" class="btn btn-danger btn-lg" id="menu-toggle">Menu</a>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").mouseover(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
