<!DOCTYPE html>
<html>
<head>
	<title>HomePage</title>
</head>
<body style="text-align:center; background-color: #AA8439">
	<strong><h1 style="background-color: #FFE3AA"></h1>DSpace APIs' Working Model</strong>
	<p style="background-color: #D4B16A ">
		<a "href="{% url 'login' %}"><button>Log In</button></a><br>
		<a href="{% url 'logout' %}"><button>Log Out</button></a><br> 
		<a href="{% url 'create-community' %}"><button>Create Community</button></a><br>
		<a href="{% url 'create-sub-community' %}"><button>Create Sub Community</button></a><br>

		<a href="{% url 'create-collection' %}"><button>Create Collection</button></a><br>
		<a href="{% url 'add-items' %}"><button>Addition of Items</button></a><br>
		<a href="{% url 'add-bitstream' %}"><button>Addition of Bitstream</button></a><br>
		<a href="{% url 'convert' %}"><button>Fetch Community articles</button></a><br>
	</p><hr>
	<p> {{ message }} </p>
</body> 
</html>
