<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DSpaceX</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" style="margin-top: 150px">
                <h1>DSpaceX</h1>
                <h5>This app fetches communities, community articles, groups, group articles form Collaborative Communities and stores the articles under their respective communities/groups in DSpace.</h5>
                <a style="margin-top: 4em;" href="{% url 'createCommunity' %}" class="btn btn-dark btn-lg">Check for Communities</a>
                <!--<a href="#menu-toggle" id="menu-toggle" class="btn btn-dark btn-lg" >Menu</a>-->
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Menu Toggle Script 
    <script>
    $("#menu-toggle").mouseover(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    -->
</body>

</html>
